<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <appSettings>
    <add key="ClientType" value="Winform"/>
    <!--客户端类型：Winform(客户端插件)、WCF(服务插件)、Web(Web插件)-->
    <add key="IsSaas" value="true"/>
    <!--ORM拼装SQL语句是否加入WorkId-->
    <add key="UpdaterUrl" value="http://localhost:8021/upgrade/update.xml"/>
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="EntLibConfiguration" parentSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="EntLibConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Config\EntLib.config"/>
    </sources>
    <redirectSections>
      <add sourceName="LogConfiguration" name="loggingConfiguration"/>
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_BaseService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <security mode="None">
          </security>
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="NetTcpBinding_FileService" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--net.tcp://127.0.0.1:8888/RouterService-->
      <!--net.tcp://127.0.0.1:5999/WCFHandlerService-->
      <endpoint name="wcfendpoint" address="net.tcp://127.0.0.1:8811/BaseService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BaseService" contract="EFWCoreLib.WcfFrame.WcfHandler.IClientHandler" />
      <endpoint name="fileendpoint" address="net.tcp://127.0.0.1:8812/FileService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FileService" contract="EFWCoreLib.WcfFrame.WcfHandler.IFileHandler" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
